.profile {
  background-color: #fff;
  min-width: 352px;
  height: 448px;
  margin-left: 150px;
  margin-top: -212px;
  border-radius: 10px;
  border: 1px solid #E7E7E7;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  margin-right: 20px;
}

.profile__content {
  padding-top: 59px;
  padding-bottom: 24px;
}

.profile__row {
  display: flex;
  justify-content: space-around;
  margin-top: 26px;
}

.profile__name {
  font-weight: bold;
  font-size: 21px;
  line-height: 15px;
  margin-top: 26px;
}

.profile__position {
  font-size: 16px;
  color: #A9A9A9;
  line-height: 11px;
}

.profile__column:first-child {
  position: relative;
}

.profile__column:first-child::after {
  content: "";
  background-color: #DFDFDF;
  width: 1px;
  height: 28px;
  position: absolute;
  top: 30px;
  left: 100px;
}

.profile__count {
  font-weight: bold;
  font-size: 24px;
  line-height: 17px;
}

.profile__text {
  font-size: 16px;
  line-height: 11px;
  color: #A9A9A9;
  margin-top: -10px;
}

button {
  font-weight: bold;
  font-size: 16px;
  line-height: 11px;
  color: #255DEF;
  background-color: #F2F2F2;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 15px 57px;
  margin-top: 20px;
  cursor: pointer;
}
